* {
    margin: 0;
    padding: 0;
    /* width: 1400px; */
    background: #464544;
}

.nav__menu {
    margin: 0 auto;
    width: 1400px;
}

nav {
    margin-top: 10px;
    height: 70px;
    display: flex;
    width: 1400px;
}

.logo {
    width: 70px;
    height: 70px;
    margin-left: 30px;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    margin-left: 40px;
}

.menu li {
    font-size: 20px;
}

.menu a {
    text-decoration: none;
    color: black;
} 

.menu a:hover{
    color: red;
} 

.click__me {
    width: 200px;
    outline: none;
    border-radius:50px;
    transition: 1.2s ease;
    margin: 0 30px 0 30px;
    font-size: 20px;
}

.click__me:hover {
    transform: scale(1.2);
}

.modal {
    width: 400px;
    height: 350px;
    background:white;
    margin: 0 auto;
}

